* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: mistyrose;
}

.form-container {
    padding-left: 5rem;
    padding-top: 3rem;
}

/* .form {
    display: flex;
    flex-wrap: wrap;
} */

.section {
    display: flex;
    flex-direction: column;
}



/* .button {
    min-width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
} */

.section input,
.section textarea,
.section button {
    max-width: 30rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


.section label {
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: gray;
}

.section button {
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: brown;
    color: white;
}

.title {
    font-family: 'VT323', monospace;
    color: gray;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.title-holder {
    padding-top: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.description {
    font-family: 'VT323', monospace;
    color: gray;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    text-align: center;
}

.section input,
.section textarea {
    border: 3px solid rgba(214, 214, 214, 0.815);
    border-radius: 5px;
    padding: 0.5rem;


}


.whole-section {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

img {
    width: 400px;
    padding-bottom: 1rem;
    border: 3px;
    border-radius: 5px;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 3rem;
}


.preview-button button {
    max-width: 50rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: brown;
    color: white;

}

/* .paragraph {
    font-family: 'VT323', monospace;
} */

.reference-link {
    text-decoration: underline red;
    color: black;

}
