{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website Maker</title>
</head>

<body>
    <form action="{% url 'information' %}" method="POST">
        {% csrf_token %}
        <label for="name">Your Name: </label>
        <input name="name" type="text">
        <button type="submit">Get Website!</button>
    </form>
</body>

</html>
